// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2026.1.0.37.0
// Netlist written on Wed Sep 16 16:00:25 2026
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/klatvakoski/documents/github/katie_multiplexer_lab2/radiant_files/lab2_v2kl/lab2_v2kl/source/impl_1/counter.sv"
// file 1 "c:/users/klatvakoski/documents/github/katie_multiplexer_lab2/radiant_files/lab2_v2kl/lab2_v2kl/source/impl_1/keypad.sv"
// file 2 "c:/users/klatvakoski/documents/github/katie_multiplexer_lab2/radiant_files/lab2_v2kl/lab2_v2kl/source/impl_1/lab2_keypad.sv"
// file 3 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ice40up.v"
// file 4 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ice40up.vhd"
// file 5 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc.v"
// file 6 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_distributed_ram.v"
// file 7 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_ecc.v"
// file 8 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_flag_and_cnts_logic.v"
// file 9 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_gray_reg.v"
// file 10 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_gray_synchronizer.v"
// file 11 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden.v"
// file 12 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_prim.v"
// file 13 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_rd_ctrl_logic.v"
// file 14 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_rd_output_logic.v"
// file 15 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_ring_counter.v"
// file 16 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_wr_ctrl_logic.v"
// file 17 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_prim_gen.v"
// file 18 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_rd_ctrl_logic.v"
// file 19 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_wr_ctrl_logic.v"
// file 20 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp.v"
// file 21 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_behavioral.v"
// file 22 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_functions.vh"
// file 23 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_impl.v"
// file 24 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_lut_decode.v"
// file 25 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/hsiao_ecc_decoder.v"
// file 26 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/hsiao_ecc_encoder.v"
// file 27 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/lscc_lfmxo4_ram_dq.v"
// file 28 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/lscc_lfmxo4_ram_dq_lut_decode.v"
// file 29 "c:/lscc/radiant/2026.1/ip/common/adder/rtl/lscc_adder.v"
// file 30 "c:/lscc/radiant/2026.1/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 31 "c:/lscc/radiant/2026.1/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 32 "c:/lscc/radiant/2026.1/ip/common/counter/rtl/lscc_cntr.v"
// file 33 "c:/lscc/radiant/2026.1/ip/common/fifo/rtl/lscc_fifo.v"
// file 34 "c:/lscc/radiant/2026.1/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 35 "c:/lscc/radiant/2026.1/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 36 "c:/lscc/radiant/2026.1/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 37 "c:/lscc/radiant/2026.1/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 38 "c:/lscc/radiant/2026.1/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 39 "c:/lscc/radiant/2026.1/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 40 "c:/lscc/radiant/2026.1/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 41 "c:/lscc/radiant/2026.1/ip/common/rom/rtl/lscc_rom.v"
// file 42 "c:/lscc/radiant/2026.1/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 43 "c:/lscc/radiant/2026.1/ip/pmi/pmi_add.v"
// file 44 "c:/lscc/radiant/2026.1/ip/pmi/pmi_addsub.v"
// file 45 "c:/lscc/radiant/2026.1/ip/pmi/pmi_complex_mult.v"
// file 46 "c:/lscc/radiant/2026.1/ip/pmi/pmi_counter.v"
// file 47 "c:/lscc/radiant/2026.1/ip/pmi/pmi_dsp.v"
// file 48 "c:/lscc/radiant/2026.1/ip/pmi/pmi_fifo.v"
// file 49 "c:/lscc/radiant/2026.1/ip/pmi/pmi_fifo_dc.v"
// file 50 "c:/lscc/radiant/2026.1/ip/pmi/pmi_mac.v"
// file 51 "c:/lscc/radiant/2026.1/ip/pmi/pmi_mult.v"
// file 52 "c:/lscc/radiant/2026.1/ip/pmi/pmi_multaddsub.v"
// file 53 "c:/lscc/radiant/2026.1/ip/pmi/pmi_multaddsubsum.v"
// file 54 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dp.v"
// file 55 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dp_be.v"
// file 56 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dq.v"
// file 57 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dq_be.v"
// file 58 "c:/lscc/radiant/2026.1/ip/pmi/pmi_rom.v"
// file 59 "c:/lscc/radiant/2026.1/ip/pmi/pmi_sub.v"
// file 60 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 61 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 62 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 63 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 64 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 65 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 66 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 67 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ib.v"
// file 68 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 69 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 70 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 71 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ob.v"
// file 72 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 73 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 74 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 75 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/rgb.v"
// file 76 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 77 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 78 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/legacy.v"

//
// Verilog Description of module lab2_keypad
//

module lab2_keypad (input reset, input enable, input [3:0]col, output [3:0]row, 
            output [3:0]led);
    
    wire reset_c;
    wire enable_c;
    wire [3:0]col_c;
    wire [3:0]row_c;
    wire col_c_3__N_33;
    wire col_c_2__N_34;
    wire col_c_1__N_35;
    wire col_c_0__N_36;
    (* is_clock=1 *) wire int_osc;
    
    wire VCC_net, GND_net, n429, n406;
    
    VHI i2 (.Z(VCC_net));
    VLO i1 (.Z(GND_net));
    OB \led_pad[0]  (.I(col_c_0__N_36), .O(led[0]));
    IB reset_pad (.I(reset), .O(reset_c));
    IB enable_pad (.I(enable), .O(enable_c));
    IB \col_pad[3]  (.I(col[3]), .O(col_c[3]));
    IB \col_pad[2]  (.I(col[2]), .O(col_c[2]));
    IB \col_pad[1]  (.I(col[1]), .O(col_c[1]));
    IB \col_pad[0]  (.I(col[0]), .O(col_c[0]));
    OB \row_pad[3]  (.I(row_c[3]), .O(row[3]));
    OB \row_pad[2]  (.I(row_c[2]), .O(row[2]));
    OB \row_pad[1]  (.I(row_c[1]), .O(row[1]));
    OB \row_pad[0]  (.I(row_c[0]), .O(row[0]));
    OB \led_pad[3]  (.I(col_c_3__N_33), .O(led[3]));
    OB \led_pad[2]  (.I(col_c_2__N_34), .O(led[2]));
    OB \led_pad[1]  (.I(col_c_1__N_35), .O(led[1]));
    (* lut_function="(!(A))" *) LUT4 i373_1_lut (.A(reset_c), .Z(n406));
    defparam i373_1_lut.INIT = "0x5555";
    (* lut_function="(A+!(B))" *) LUT4 i395_2_lut (.A(enable_c), .B(reset_c), 
            .Z(n429));
    defparam i395_2_lut.INIT = "0xbbbb";
    (* lut_function="(!(A))" *) LUT4 col_c_1__I_0_1_lut (.A(col_c[1]), .Z(col_c_1__N_35));
    defparam col_c_1__I_0_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))" *) LUT4 col_c_2__I_0_1_lut (.A(col_c[2]), .Z(col_c_2__N_34));
    defparam col_c_2__I_0_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))" *) LUT4 col_c_0__I_0_1_lut (.A(col_c[0]), .Z(col_c_0__N_36));
    defparam col_c_0__I_0_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))" *) LUT4 col_c_3__I_0_1_lut (.A(col_c[3]), .Z(col_c_3__N_33));
    defparam col_c_3__I_0_1_lut.INIT = "0x5555";
    (* syn_instantiated=1 *) HSOSC_CORE hf_osc (.CLKHFPU(VCC_net), .CLKHFEN(VCC_net), 
            .TRIM9(GND_net), .TRIM8(GND_net), .TRIM7(GND_net), .TRIM6(GND_net), 
            .TRIM5(GND_net), .TRIM4(GND_net), .TRIM3(GND_net), .TRIM2(GND_net), 
            .TRIM1(GND_net), .TRIM0(GND_net), .CLKHF(int_osc));
    defparam hf_osc.CLKHF_DIV = "0b01";
    defparam hf_osc.FABRIC_TRIME = "DISABLE";
    (* LSE_LINE_FILE_ID=26, LSE_LCOL=11, LSE_RCOL=43, LSE_LLINE=20, LSE_RLINE=20 *) keypad key ({row_c}, 
            n429, n406, int_osc);
    
endmodule

//
// Verilog Description of module keypad
//

module keypad (output [3:0]row_c, input n429, input n406, input int_osc);
    
    wire [23:0]count;
    (* is_clock=1 *) wire int_osc;
    
    wire n4, n640, n4_adj_37, n375, n4_adj_38, n403, n616, n10, 
        n44, n638, n398, n384, n360, n670, n17, n16, n999, 
        n897, n678, n20, n388, n686, n618, n296, n4_adj_40, 
        n28, n4_adj_39, n882, n981, n42, n379, n632, n36, n995;
    
    (* lut_function="(A (B (C+(D)))+!A (B (C)))" *) LUT4 i1_4_lut (.A(n640), 
            .B(count[19]), .C(count[18]), .D(n375), .Z(n4));
    defparam i1_4_lut.INIT = "0xc8c0";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut (.A(count[6]), .B(count[8]), 
            .Z(n4_adj_38));
    defparam i1_2_lut.INIT = "0xeeee";
    (* lut_function="(A (B+(C))+!A (B+(C (D))))" *) LUT4 i606_4_lut (.A(n616), 
            .B(count[12]), .C(count[11]), .D(count[10]), .Z(n638));
    defparam i606_4_lut.INIT = "0xfcec";
    (* lut_function="(A (B (C+(D)))+!A (B (C)))" *) LUT4 i638_4_lut (.A(n638), 
            .B(count[15]), .C(count[14]), .D(count[13]), .Z(n670));
    defparam i638_4_lut.INIT = "0xc8c0";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i9_4_lut (.A(n17), .B(count[9]), 
            .C(n16), .D(count[6]), .Z(n897));
    defparam i9_4_lut.INIT = "0xfffe";
    (* lut_function="(A (B)+!A (B (C+(D))))" *) LUT4 i646_4_lut (.A(count[17]), 
            .B(count[18]), .C(n670), .D(count[16]), .Z(n678));
    defparam i646_4_lut.INIT = "0xccc8";
    (* lut_function="(!(A (B (C))+!A (B (C+!(D))+!B !(C+(D)))))" *) LUT4 i38_4_lut (.A(n678), 
            .B(n4), .C(count[20]), .D(count[19]), .Z(n20));
    defparam i38_4_lut.INIT = "0x3f3a";
    (* lut_function="(A+((C+!(D))+!B))" *) LUT4 i4_4_lut (.A(n388), .B(count[20]), 
            .C(n360), .D(count[22]), .Z(n10));
    defparam i4_4_lut.INIT = "0xfbff";
    (* lut_function="(!(A+((C+!(D))+!B)))" *) LUT4 i3_4_lut (.A(count[23]), 
            .B(count[22]), .C(count[21]), .D(n20), .Z(row_c[3]));
    defparam i3_4_lut.INIT = "0x0400";
    (* lut_function="(A (B)+!A (B (C+(D))))" *) LUT4 i584_4_lut (.A(count[5]), 
            .B(count[9]), .C(count[7]), .D(n4_adj_38), .Z(n616));
    defparam i584_4_lut.INIT = "0xccc8";
    (* lut_function="(A (B+(C))+!A (B))" *) LUT4 i586_3_lut (.A(count[7]), 
            .B(count[9]), .C(count[8]), .Z(n618));
    defparam i586_3_lut.INIT = "0xecec";
    (* lut_function="(A (B+(C+(D)))+!A (B+(D)))" *) LUT4 i1_4_lut_adj_1 (.A(count[9]), 
            .B(count[10]), .C(n4_adj_37), .D(n398), .Z(n296));
    defparam i1_4_lut_adj_1.INIT = "0xffec";
    (* lut_function="(A (B (C+(D))+!B (C)))" *) LUT4 i1_4_lut_adj_2 (.A(count[17]), 
            .B(n296), .C(count[16]), .D(n384), .Z(n4_adj_40));
    defparam i1_4_lut_adj_2.INIT = "0xa8a0";
    (* lut_function="(A (B (C+(D))+!B (C)))" *) LUT4 i1_4_lut_adj_3 (.A(count[20]), 
            .B(count[18]), .C(count[19]), .D(n4_adj_40), .Z(n28));
    defparam i1_4_lut_adj_3.INIT = "0xa8a0";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i7_4_lut (.A(count[1]), .B(count[2]), 
            .C(count[0]), .D(count[4]), .Z(n17));
    defparam i7_4_lut.INIT = "0xfffe";
    (* lut_function="(A (B))" *) LUT4 i2_2_lut (.A(count[20]), .B(n4), .Z(n882));
    defparam i2_2_lut.INIT = "0x8888";
    (* lut_function="(A+(B))" *) LUT4 i886_2_lut (.A(count[22]), .B(count[23]), 
            .Z(n981));
    defparam i886_2_lut.INIT = "0xeeee";
    (* lut_function="(!(A (B+(C (D)))+!A (B+(C+!(D)))))" *) LUT4 i2_4_lut (.A(n28), 
            .B(n981), .C(n42), .D(count[21]), .Z(row_c[1]));
    defparam i2_4_lut.INIT = "0x0322";
    (* lut_function="(A (B+(C (D)))+!A (B))" *) LUT4 i608_4_lut (.A(count[11]), 
            .B(n360), .C(count[10]), .D(n618), .Z(n640));
    defparam i608_4_lut.INIT = "0xeccc";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut_adj_4 (.A(count[15]), .B(count[14]), 
            .Z(n379));
    defparam i1_2_lut_adj_4.INIT = "0x8888";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut_adj_5 (.A(count[11]), .B(count[12]), 
            .Z(n398));
    defparam i1_2_lut_adj_5.INIT = "0xeeee";
    (* lut_function="(A (B+(C (D)))+!A (B))" *) LUT4 i73_4_lut (.A(n632), 
            .B(count[17]), .C(count[16]), .D(n379), .Z(n36));
    defparam i73_4_lut.INIT = "0xeccc";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut_adj_6 (.A(count[23]), .B(count[21]), 
            .Z(n388));
    defparam i1_2_lut_adj_6.INIT = "0xeeee";
    (* lut_function="(A (B (C+(D)))+!A (B (C)))" *) LUT4 i1_4_lut_adj_7 (.A(count[6]), 
            .B(count[9]), .C(count[8]), .D(count[7]), .Z(n4_adj_39));
    defparam i1_4_lut_adj_7.INIT = "0xc8c0";
    (* lut_function="(A+(B+(C)))" *) LUT4 i1_3_lut (.A(n28), .B(count[22]), 
            .C(n388), .Z(n403));
    defparam i1_3_lut.INIT = "0xfefe";
    (* lut_function="(!(A+(B (C)+!B !(D))))" *) LUT4 i1_4_lut_adj_8 (.A(count[23]), 
            .B(count[22]), .C(n686), .D(n44), .Z(row_c[2]));
    defparam i1_4_lut_adj_8.INIT = "0x1504";
    (* lut_function="(A (B+(C (D)))+!A (B))" *) LUT4 i76_4_lut (.A(count[19]), 
            .B(count[20]), .C(count[18]), .D(n36), .Z(n42));
    defparam i76_4_lut.INIT = "0xeccc";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i654_4_lut (.A(n678), .B(count[20]), 
            .C(count[19]), .D(count[21]), .Z(n686));
    defparam i654_4_lut.INIT = "0xfffe";
    (* lut_function="(A (B+(C+(D)))+!A (B+(D)))" *) LUT4 i600_4_lut (.A(count[10]), 
            .B(count[13]), .C(n4_adj_39), .D(n398), .Z(n632));
    defparam i600_4_lut.INIT = "0xffec";
    (* lut_function="(A (B (C (D))))" *) LUT4 i900_4_lut (.A(count[16]), .B(count[10]), 
            .C(count[8]), .D(count[11]), .Z(n995));
    defparam i900_4_lut.INIT = "0x8000";
    (* lut_function="(A+((C+(D))+!B))" *) LUT4 i6_4_lut (.A(count[5]), .B(count[7]), 
            .C(count[3]), .D(count[18]), .Z(n16));
    defparam i6_4_lut.INIT = "0xfffb";
    (* lut_function="(!(A (B+((D)+!C))))" *) LUT4 i964_4_lut (.A(n403), .B(n897), 
            .C(n999), .D(n10), .Z(row_c[0]));
    defparam i964_4_lut.INIT = "0x5575";
    (* lut_function="(A+(B+(C)))" *) LUT4 i2_3_lut (.A(count[13]), .B(count[14]), 
            .C(count[12]), .Z(n360));
    defparam i2_3_lut.INIT = "0xfefe";
    (* lut_function="(A (B))" *) LUT4 i162_2_lut (.A(n42), .B(count[21]), 
            .Z(n44));
    defparam i162_2_lut.INIT = "0x8888";
    (* lut_function="(A (B (C+(D)))+!A (B (C)))" *) LUT4 i1_4_lut_adj_9 (.A(count[5]), 
            .B(count[8]), .C(count[7]), .D(count[6]), .Z(n4_adj_37));
    defparam i1_4_lut_adj_9.INIT = "0xc8c0";
    (* lut_function="(A (B (C (D))))" *) LUT4 i904_3_lut_4_lut (.A(count[15]), 
            .B(count[17]), .C(n995), .D(count[19]), .Z(n999));
    defparam i904_3_lut_4_lut.INIT = "0x8000";
    (* lut_function="(A (B (C)))" *) LUT4 i1_2_lut_3_lut (.A(count[13]), .B(count[15]), 
            .C(count[14]), .Z(n384));
    defparam i1_2_lut_3_lut.INIT = "0x8080";
    (* lut_function="(A (B (C)))" *) LUT4 i2_2_lut_3_lut (.A(count[15]), .B(count[17]), 
            .C(count[16]), .Z(n375));
    defparam i2_2_lut_3_lut.INIT = "0x8080";
    (* LSE_LINE_FILE_ID=28, LSE_LCOL=29, LSE_RCOL=68, LSE_LLINE=12, LSE_RLINE=12 *) \counter(MAX_COUNT=6000000,WIDTH=24)  counting (n429, 
            {count}, int_osc, n406, n882);
    
endmodule

//
// Verilog Description of module \counter(MAX_COUNT=6000000,WIDTH=24) 
//

module \counter(MAX_COUNT=6000000,WIDTH=24)  (input n429, output [23:0]count, 
            input int_osc, input n406, input n882);
    
    (* is_clock=1 *) wire int_osc;
    
    wire GND_net, VCC_net;
    wire [23:0]n39;
    wire [23:0]n127;
    
    wire n781, n4, n789, n1251, n1245, n783, n1248, n785, n1242, 
        n775, n779, n1236, n777, n1266, n773, n1233, n795, n793, 
        n1263, n791, n1260, n1257, n787, n1254, n1230, n1239;
    
    (* LSE_LINE_FILE_ID=28, LSE_LCOL=29, LSE_RCOL=68, LSE_LLINE=12, LSE_RLINE=12 *) FD1P3XZ counter__i22 (.D(n39[22]), 
            .SP(n429), .CK(int_osc), .SR(n406), .Q(count[22]));
    defparam counter__i22.REGSET = "RESET";
    defparam counter__i22.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=28, LSE_LCOL=29, LSE_RCOL=68, LSE_LLINE=12, LSE_RLINE=12 *) FD1P3XZ counter__i21 (.D(n39[21]), 
            .SP(n429), .CK(int_osc), .SR(n406), .Q(count[21]));
    defparam counter__i21.REGSET = "RESET";
    defparam counter__i21.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!((B)+!A))" *) LUT4 i566_2_lut (.A(n127[1]), .B(n4), 
            .Z(n39[1]));
    defparam i566_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i565_2_lut (.A(n127[2]), .B(n4), 
            .Z(n39[2]));
    defparam i565_2_lut.INIT = "0x2222";
    (* LSE_LINE_FILE_ID=28, LSE_LCOL=29, LSE_RCOL=68, LSE_LLINE=12, LSE_RLINE=12 *) FD1P3XZ counter__i20 (.D(n39[20]), 
            .SP(n429), .CK(int_osc), .SR(n406), .Q(count[20]));
    defparam counter__i20.REGSET = "RESET";
    defparam counter__i20.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=28, LSE_LCOL=29, LSE_RCOL=68, LSE_LLINE=12, LSE_RLINE=12 *) FD1P3XZ counter__i19 (.D(n39[19]), 
            .SP(n429), .CK(int_osc), .SR(n406), .Q(count[19]));
    defparam counter__i19.REGSET = "RESET";
    defparam counter__i19.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=28, LSE_LCOL=29, LSE_RCOL=68, LSE_LLINE=12, LSE_RLINE=12 *) FD1P3XZ counter__i18 (.D(n39[18]), 
            .SP(n429), .CK(int_osc), .SR(n406), .Q(count[18]));
    defparam counter__i18.REGSET = "RESET";
    defparam counter__i18.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=28, LSE_LCOL=29, LSE_RCOL=68, LSE_LLINE=12, LSE_RLINE=12 *) FD1P3XZ counter__i17 (.D(n39[17]), 
            .SP(n429), .CK(int_osc), .SR(n406), .Q(count[17]));
    defparam counter__i17.REGSET = "RESET";
    defparam counter__i17.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!((B)+!A))" *) LUT4 i562_2_lut (.A(n127[3]), .B(n4), 
            .Z(n39[3]));
    defparam i562_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i557_2_lut (.A(n127[4]), .B(n4), 
            .Z(n39[4]));
    defparam i557_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i470_2_lut (.A(n127[21]), .B(n4), 
            .Z(n39[21]));
    defparam i470_2_lut.INIT = "0x2222";
    FA2 add_11_add_5_13 (.A0(GND_net), .B0(count[11]), .C0(GND_net), .D0(n783), 
        .CI0(n783), .A1(GND_net), .B1(count[12]), .C1(GND_net), .D1(n1248), 
        .CI1(n1248), .CO0(n1248), .CO1(n785), .S0(n127[11]), .S1(n127[12]));
    defparam add_11_add_5_13.INIT0 = "0xc33c";
    defparam add_11_add_5_13.INIT1 = "0xc33c";
    (* lut_function="(!((B)+!A))" *) LUT4 i477_2_lut (.A(n127[15]), .B(n4), 
            .Z(n39[15]));
    defparam i477_2_lut.INIT = "0x2222";
    FA2 add_11_add_5_5 (.A0(GND_net), .B0(count[3]), .C0(GND_net), .D0(n775), 
        .CI0(n775), .A1(GND_net), .B1(count[4]), .C1(GND_net), .D1(n1236), 
        .CI1(n1236), .CO0(n1236), .CO1(n777), .S0(n127[3]), .S1(n127[4]));
    defparam add_11_add_5_5.INIT0 = "0xc33c";
    defparam add_11_add_5_5.INIT1 = "0xc33c";
    (* lut_function="(!((B)+!A))" *) LUT4 i473_2_lut (.A(n127[18]), .B(n4), 
            .Z(n39[18]));
    defparam i473_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i468_2_lut (.A(n127[22]), .B(n4), 
            .Z(n39[22]));
    defparam i468_2_lut.INIT = "0x2222";
    FA2 add_11_add_5_11 (.A0(GND_net), .B0(count[9]), .C0(GND_net), .D0(n781), 
        .CI0(n781), .A1(GND_net), .B1(count[10]), .C1(GND_net), .D1(n1245), 
        .CI1(n1245), .CO0(n1245), .CO1(n783), .S0(n127[9]), .S1(n127[10]));
    defparam add_11_add_5_11.INIT0 = "0xc33c";
    defparam add_11_add_5_11.INIT1 = "0xc33c";
    (* LSE_LINE_FILE_ID=28, LSE_LCOL=29, LSE_RCOL=68, LSE_LLINE=12, LSE_RLINE=12 *) FD1P3XZ counter__i16 (.D(n39[16]), 
            .SP(n429), .CK(int_osc), .SR(n406), .Q(count[16]));
    defparam counter__i16.REGSET = "RESET";
    defparam counter__i16.SRMODE = "CE_OVER_LSR";
    FA2 add_11_add_5_9 (.A0(GND_net), .B0(count[7]), .C0(GND_net), .D0(n779), 
        .CI0(n779), .A1(GND_net), .B1(count[8]), .C1(GND_net), .D1(n1242), 
        .CI1(n1242), .CO0(n1242), .CO1(n781), .S0(n127[7]), .S1(n127[8]));
    defparam add_11_add_5_9.INIT0 = "0xc33c";
    defparam add_11_add_5_9.INIT1 = "0xc33c";
    (* LSE_LINE_FILE_ID=28, LSE_LCOL=29, LSE_RCOL=68, LSE_LLINE=12, LSE_RLINE=12 *) FD1P3XZ counter__i15 (.D(n39[15]), 
            .SP(n429), .CK(int_osc), .SR(n406), .Q(count[15]));
    defparam counter__i15.REGSET = "RESET";
    defparam counter__i15.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=28, LSE_LCOL=29, LSE_RCOL=68, LSE_LLINE=12, LSE_RLINE=12 *) FD1P3XZ counter__i14 (.D(n39[14]), 
            .SP(n429), .CK(int_osc), .SR(n406), .Q(count[14]));
    defparam counter__i14.REGSET = "RESET";
    defparam counter__i14.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=28, LSE_LCOL=29, LSE_RCOL=68, LSE_LLINE=12, LSE_RLINE=12 *) FD1P3XZ counter__i0 (.D(n39[0]), 
            .SP(n429), .CK(int_osc), .SR(n406), .Q(count[0]));
    defparam counter__i0.REGSET = "RESET";
    defparam counter__i0.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=28, LSE_LCOL=29, LSE_RCOL=68, LSE_LLINE=12, LSE_RLINE=12 *) FD1P3XZ counter__i13 (.D(n39[13]), 
            .SP(n429), .CK(int_osc), .SR(n406), .Q(count[13]));
    defparam counter__i13.REGSET = "RESET";
    defparam counter__i13.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!((B)+!A))" *) LUT4 i472_2_lut (.A(n127[19]), .B(n4), 
            .Z(n39[19]));
    defparam i472_2_lut.INIT = "0x2222";
    (* LSE_LINE_FILE_ID=28, LSE_LCOL=29, LSE_RCOL=68, LSE_LLINE=12, LSE_RLINE=12 *) FD1P3XZ counter__i12 (.D(n39[12]), 
            .SP(n429), .CK(int_osc), .SR(n406), .Q(count[12]));
    defparam counter__i12.REGSET = "RESET";
    defparam counter__i12.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=28, LSE_LCOL=29, LSE_RCOL=68, LSE_LLINE=12, LSE_RLINE=12 *) FD1P3XZ counter__i11 (.D(n39[11]), 
            .SP(n429), .CK(int_osc), .SR(n406), .Q(count[11]));
    defparam counter__i11.REGSET = "RESET";
    defparam counter__i11.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!((B)+!A))" *) LUT4 i476_2_lut (.A(n127[16]), .B(n4), 
            .Z(n39[16]));
    defparam i476_2_lut.INIT = "0x2222";
    FA2 add_11_add_5_3 (.A0(GND_net), .B0(count[1]), .C0(GND_net), .D0(n773), 
        .CI0(n773), .A1(GND_net), .B1(count[2]), .C1(GND_net), .D1(n1233), 
        .CI1(n1233), .CO0(n1233), .CO1(n775), .S0(n127[1]), .S1(n127[2]));
    defparam add_11_add_5_3.INIT0 = "0xc33c";
    defparam add_11_add_5_3.INIT1 = "0xc33c";
    (* lut_function="(!((B)+!A))" *) LUT4 i471_2_lut (.A(n127[20]), .B(n4), 
            .Z(n39[20]));
    defparam i471_2_lut.INIT = "0x2222";
    FA2 add_11_add_5_23 (.A0(GND_net), .B0(count[21]), .C0(GND_net), .D0(n793), 
        .CI0(n793), .A1(GND_net), .B1(count[22]), .C1(GND_net), .D1(n1263), 
        .CI1(n1263), .CO0(n1263), .CO1(n795), .S0(n127[21]), .S1(n127[22]));
    defparam add_11_add_5_23.INIT0 = "0xc33c";
    defparam add_11_add_5_23.INIT1 = "0xc33c";
    (* lut_function="(!((B)+!A))" *) LUT4 i474_2_lut (.A(n127[17]), .B(n4), 
            .Z(n39[17]));
    defparam i474_2_lut.INIT = "0x2222";
    (* lut_function="(A (B+(C))+!A (B+(C (D))))" *) LUT4 i144_4_lut (.A(n882), 
            .B(count[23]), .C(count[22]), .D(count[21]), .Z(n4));
    defparam i144_4_lut.INIT = "0xfcec";
    FA2 add_11_add_5_21 (.A0(GND_net), .B0(count[19]), .C0(GND_net), .D0(n791), 
        .CI0(n791), .A1(GND_net), .B1(count[20]), .C1(GND_net), .D1(n1260), 
        .CI1(n1260), .CO0(n1260), .CO1(n793), .S0(n127[19]), .S1(n127[20]));
    defparam add_11_add_5_21.INIT0 = "0xc33c";
    defparam add_11_add_5_21.INIT1 = "0xc33c";
    FA2 add_11_add_5_19 (.A0(GND_net), .B0(count[17]), .C0(GND_net), .D0(n789), 
        .CI0(n789), .A1(GND_net), .B1(count[18]), .C1(GND_net), .D1(n1257), 
        .CI1(n1257), .CO0(n1257), .CO1(n791), .S0(n127[17]), .S1(n127[18]));
    defparam add_11_add_5_19.INIT0 = "0xc33c";
    defparam add_11_add_5_19.INIT1 = "0xc33c";
    FA2 add_11_add_5_17 (.A0(GND_net), .B0(count[15]), .C0(GND_net), .D0(n787), 
        .CI0(n787), .A1(GND_net), .B1(count[16]), .C1(GND_net), .D1(n1254), 
        .CI1(n1254), .CO0(n1254), .CO1(n789), .S0(n127[15]), .S1(n127[16]));
    defparam add_11_add_5_17.INIT0 = "0xc33c";
    defparam add_11_add_5_17.INIT1 = "0xc33c";
    FA2 add_11_add_5_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), .A1(GND_net), 
        .B1(count[0]), .C1(VCC_net), .D1(n1230), .CI1(n1230), .CO0(n1230), 
        .CO1(n773), .S1(n127[0]));
    defparam add_11_add_5_1.INIT0 = "0xc33c";
    defparam add_11_add_5_1.INIT1 = "0xc33c";
    (* lut_function="(!((B)+!A))" *) LUT4 i466_2_lut (.A(n127[23]), .B(n4), 
            .Z(n39[23]));
    defparam i466_2_lut.INIT = "0x2222";
    FA2 add_11_add_5_7 (.A0(GND_net), .B0(count[5]), .C0(GND_net), .D0(n777), 
        .CI0(n777), .A1(GND_net), .B1(count[6]), .C1(GND_net), .D1(n1239), 
        .CI1(n1239), .CO0(n1239), .CO1(n779), .S0(n127[5]), .S1(n127[6]));
    defparam add_11_add_5_7.INIT0 = "0xc33c";
    defparam add_11_add_5_7.INIT1 = "0xc33c";
    (* lut_function="(!((B)+!A))" *) LUT4 i556_2_lut (.A(n127[5]), .B(n4), 
            .Z(n39[5]));
    defparam i556_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i555_2_lut (.A(n127[6]), .B(n4), 
            .Z(n39[6]));
    defparam i555_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i552_2_lut (.A(n127[7]), .B(n4), 
            .Z(n39[7]));
    defparam i552_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i547_2_lut (.A(n127[8]), .B(n4), 
            .Z(n39[8]));
    defparam i547_2_lut.INIT = "0x2222";
    (* LSE_LINE_FILE_ID=28, LSE_LCOL=29, LSE_RCOL=68, LSE_LLINE=12, LSE_RLINE=12 *) FD1P3XZ counter__i10 (.D(n39[10]), 
            .SP(n429), .CK(int_osc), .SR(n406), .Q(count[10]));
    defparam counter__i10.REGSET = "RESET";
    defparam counter__i10.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=28, LSE_LCOL=29, LSE_RCOL=68, LSE_LLINE=12, LSE_RLINE=12 *) FD1P3XZ counter__i9 (.D(n39[9]), 
            .SP(n429), .CK(int_osc), .SR(n406), .Q(count[9]));
    defparam counter__i9.REGSET = "RESET";
    defparam counter__i9.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=28, LSE_LCOL=29, LSE_RCOL=68, LSE_LLINE=12, LSE_RLINE=12 *) FD1P3XZ counter__i8 (.D(n39[8]), 
            .SP(n429), .CK(int_osc), .SR(n406), .Q(count[8]));
    defparam counter__i8.REGSET = "RESET";
    defparam counter__i8.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=28, LSE_LCOL=29, LSE_RCOL=68, LSE_LLINE=12, LSE_RLINE=12 *) FD1P3XZ counter__i7 (.D(n39[7]), 
            .SP(n429), .CK(int_osc), .SR(n406), .Q(count[7]));
    defparam counter__i7.REGSET = "RESET";
    defparam counter__i7.SRMODE = "CE_OVER_LSR";
    FA2 add_11_add_5_25 (.A0(GND_net), .B0(count[23]), .C0(GND_net), .D0(n795), 
        .CI0(n795), .A1(GND_net), .B1(GND_net), .C1(GND_net), .D1(n1266), 
        .CI1(n1266), .CO0(n1266), .S0(n127[23]));
    defparam add_11_add_5_25.INIT0 = "0xc33c";
    defparam add_11_add_5_25.INIT1 = "0xc33c";
    FA2 add_11_add_5_15 (.A0(GND_net), .B0(count[13]), .C0(GND_net), .D0(n785), 
        .CI0(n785), .A1(GND_net), .B1(count[14]), .C1(GND_net), .D1(n1251), 
        .CI1(n1251), .CO0(n1251), .CO1(n787), .S0(n127[13]), .S1(n127[14]));
    defparam add_11_add_5_15.INIT0 = "0xc33c";
    defparam add_11_add_5_15.INIT1 = "0xc33c";
    (* LSE_LINE_FILE_ID=28, LSE_LCOL=29, LSE_RCOL=68, LSE_LLINE=12, LSE_RLINE=12 *) FD1P3XZ counter__i6 (.D(n39[6]), 
            .SP(n429), .CK(int_osc), .SR(n406), .Q(count[6]));
    defparam counter__i6.REGSET = "RESET";
    defparam counter__i6.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!((B)+!A))" *) LUT4 i546_2_lut (.A(n127[9]), .B(n4), 
            .Z(n39[9]));
    defparam i546_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i545_2_lut (.A(n127[10]), .B(n4), 
            .Z(n39[10]));
    defparam i545_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i531_2_lut (.A(n127[11]), .B(n4), 
            .Z(n39[11]));
    defparam i531_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i519_2_lut (.A(n127[12]), .B(n4), 
            .Z(n39[12]));
    defparam i519_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i465_2_lut (.A(n127[13]), .B(n4), 
            .Z(n39[13]));
    defparam i465_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i567_2_lut (.A(n127[0]), .B(n4), 
            .Z(n39[0]));
    defparam i567_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))" *) LUT4 i480_2_lut (.A(n127[14]), .B(n4), 
            .Z(n39[14]));
    defparam i480_2_lut.INIT = "0x2222";
    (* LSE_LINE_FILE_ID=28, LSE_LCOL=29, LSE_RCOL=68, LSE_LLINE=12, LSE_RLINE=12 *) FD1P3XZ counter__i5 (.D(n39[5]), 
            .SP(n429), .CK(int_osc), .SR(n406), .Q(count[5]));
    defparam counter__i5.REGSET = "RESET";
    defparam counter__i5.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=28, LSE_LCOL=29, LSE_RCOL=68, LSE_LLINE=12, LSE_RLINE=12 *) FD1P3XZ counter__i4 (.D(n39[4]), 
            .SP(n429), .CK(int_osc), .SR(n406), .Q(count[4]));
    defparam counter__i4.REGSET = "RESET";
    defparam counter__i4.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=28, LSE_LCOL=29, LSE_RCOL=68, LSE_LLINE=12, LSE_RLINE=12 *) FD1P3XZ counter__i3 (.D(n39[3]), 
            .SP(n429), .CK(int_osc), .SR(n406), .Q(count[3]));
    defparam counter__i3.REGSET = "RESET";
    defparam counter__i3.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=28, LSE_LCOL=29, LSE_RCOL=68, LSE_LLINE=12, LSE_RLINE=12 *) FD1P3XZ counter__i2 (.D(n39[2]), 
            .SP(n429), .CK(int_osc), .SR(n406), .Q(count[2]));
    defparam counter__i2.REGSET = "RESET";
    defparam counter__i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=28, LSE_LCOL=29, LSE_RCOL=68, LSE_LLINE=12, LSE_RLINE=12 *) FD1P3XZ counter__i1 (.D(n39[1]), 
            .SP(n429), .CK(int_osc), .SR(n406), .Q(count[1]));
    defparam counter__i1.REGSET = "RESET";
    defparam counter__i1.SRMODE = "CE_OVER_LSR";
    VLO i1 (.Z(GND_net));
    VHI i2 (.Z(VCC_net));
    (* LSE_LINE_FILE_ID=28, LSE_LCOL=29, LSE_RCOL=68, LSE_LLINE=12, LSE_RLINE=12 *) FD1P3XZ counter__i23 (.D(n39[23]), 
            .SP(n429), .CK(int_osc), .SR(n406), .Q(count[23]));
    defparam counter__i23.REGSET = "RESET";
    defparam counter__i23.SRMODE = "CE_OVER_LSR";
    
endmodule
